[Unit]
Description=Record camera on startup

[Service]
Type=simple
ExecStart=/usr/bin/record-camera
After=multi-user.target

[Install]
WantedBy=multi-user.target
